@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");

.ui_1 {
  cursor: pointer;
  text-align: center;
  background: #345f89;
  border-radius: 12px;
  border: none;
  padding: 12px 32px;
  width: 144.5px;
  height: 40px;
  color: white;
  font-family: "Mulish", sans-serif;
}

.ui_2 {
  cursor: pointer;
  text-align: center;
  background: #ffffff;
  color: #345f89;
  border-radius: 12px;
  border: solid 1px #345f89;
  padding: 12px 32px;
  width: 144.5px;
  height: 40px;
  font-family: "Mulish", sans-serif;
}
