@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");

.Success {
  background: #ffffff;
  color: #afafaf;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
  border-radius: 12px;
  font-size: 15px;
  text-align: center;
  padding-bottom: 6%;
}

.Success h1 {
  font-size: 20px;
  text-align: center;
}
